.button {
  display: inline-flex;
  padding: 13px 41px;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: background-color 0.2s ease-in, outline 0.15s ease;
}

.button:hover {
  background-color: #3fbf99;
}

.button:active {
  background-color: #3fbf99;
  outline: 6px solid var(--scdGreen);
}
