.cards {
  background-color: white;
  border: solid 2px var(--grey);
  border-radius: 5px;
  margin-bottom: 50px;
}

.cards-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.cards-formcontainer {
  margin: 15px;
}

.cards-dialogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cards-dialogs img {
  height: 25px;
}

.cards-chips {
  display: flex;
  justify-content: space-around;
  background-color: var(--green);
  p {
    color: white;
  }
  margin-bottom: 15px;
  padding: 10px;
}

.cards-textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cards-textfield input {
  border: 1px solid var(--grey);
  border-radius: 8px;
  color: var(--black);
  padding: 10px;
}

.cards-textfield input {
  font-size: 15px;
}

.cards-switch-container {
  width: 50%;
}

.cards-switch {
  display: flex;
  align-items: center;
}

.cards-switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 16px;
  border-radius: 18px;
  background: var(--pink);
  margin: 0px 5px;
}

.cards-switch-inner {
  width: 12px;
  height: 12px;
  margin: 1.5px;
  border-radius: 8px;
  background: white;
}

input:checked + .cards-switch-wrapper .cards-switch-inner {
  margin-left: 15px;
}

.cards-switch input {
  display: none;
}

.cards-opt-selecter select {
  border: 1px solid var(--pink);
  color: var(--pink);
  font-size: 15px;
  border-radius: 8px;
}

.cards-segmented-radio {
  label span {
    border: 1px solid var(--pink);
    color: var(--pink);
    margin: 3.5px;
    padding: 1px 5px;
  }

  label:first-of-type span {
    border-radius: 8px 0px 0px 8px;
  }

  label:last-of-type span {
    border-radius: 0px 8px 8px 0px;
  }

  // &:hover {
  //   background: ;
  // }
  input[type="radio"] {
    opacity: 0;
    width: 0;
    padding: 0;
    height: 0;
    margin: 0 -15px 0 0;
  }

  label input[type="radio"]:checked + span {
    background: var(--pink);
    color: white;
  }
}
