.cards {
  background-color: white;
  border: solid 2px var(--grey);
  border-radius: 5px;
  margin-bottom: 50px;
}

.cards-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

.cards-formcontainer {
  margin: 15px;
}

.cards-dialogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.jscontent {
  display: none;
  transform: translate(0, -200px);
  transition: transform 0.3s;
}

.jscontent.is-active {
  display: block;
  transform: translate(0, 0px);
}

.cards-dialogs img {
  height: 25px;
}

.cards-chips {
  display: flex;
  justify-content: space-around;
  background-color: var(--green);
  p {
    color: white;
  }
  margin-bottom: 15px;
  padding: 10px;
  transition: outline 0.3s ease;
}

.cards-chips:hover {
  outline: 3px solid var(--scdGreen);
}

.cards-textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cards-textfield input {
  border: 1px solid var(--grey);
  border-radius: 8px;
  color: var(--black);
  padding: 10px;
}

.cards-textfield input {
  font-size: 15px;
}

.cards-switch-container {
  width: 50%;
}

.cards-switch {
  display: flex;
  align-items: center;
}

.cards-switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 16px;
  border-radius: 18px;
  background: var(--pink);
  margin: 0px 5px;
  transition: box-shadow 0.2s ease;
}

.cards-switch-wrapper:hover {
  box-shadow: 0px 0px 0px 3px rgba(255, 126, 253, 0.244);
}

.cards-switch-inner {
  width: 12px;
  height: 12px;
  margin: 1.5px;
  border-radius: 8px;
  background: white;
}

input:checked + .cards-switch-wrapper .cards-switch-inner {
  margin-left: 15px;
}

.cards-switch input {
  display: none;
}

.cards-opt-selecter select {
  border: 1px solid var(--pink);
  color: var(--pink);
  font-size: 15px;
  border-radius: 8px;
  transition: color 0.2s ease, background-color 0.2s ease-in;
}

.cards-opt-selecter select:hover {
  background-color: var(--pink);
  color: white;
}

.cards-segmented-radio {
  label span {
    border: 1px solid var(--pink);
    color: var(--pink);
    margin: 3.5px;
    padding: 1px 5px;
  }

  label:first-of-type span {
    border-radius: 8px 0px 0px 8px;
  }

  label:last-of-type span {
    border-radius: 0px 8px 8px 0px;
  }
  input[type="radio"] {
    opacity: 0;
    width: 0;
    padding: 0;
    height: 0;
    margin: 0 -15px 0 0;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }

  label input [type="radio"] {
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }

  label input[type="radio"]:checked + span {
    background-color: var(--pink);
    color: white;
  }

  label input[type="radio"]:hover + span {
    box-shadow: 0px 53px 0px 0px rgba(255, 189, 243, 0.206) inset;
  }
}
