.ex-archetype {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.ex-archetype a {
  color: var(--pink);
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
  padding: 10px 40px;
  transition: color 0.2s ease-in;
}

.ex-archetype a:hover {
  color: white;
}

.ex-archetype-button {
  display: flex;
  border: solid 2px var(--pink);
  border-radius: 30px;
  transition: outline 0.3s ease;
}

.ex-archetype-button:hover {
  background-color: var(--pink);
  color: white;
}

.ex-archetype-button:active {
  background-color: var(--pink);
  color: white;
  outline: 6px solid var(--scdPink);
}
