.header {
  text-align: center;
  font-size: 25px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 170px;
  margin-bottom: 80px;
}

@media (max-width: 990px) {
  .header {
    font-size: 20px;
  }
}

.header-title {
  font-weight: 600;
  font-size: 25px;
}

@media (max-width: 990px) {
  .header-title {
    font-size: 20px;
  }
}

.header a {
  text-decoration: none;
}

.header span {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 2px;
    background-color: var(--green);
    z-index: -1;
    transition: height 0.2s ease;
  }

  &:hover::before {
    height: 10px;
  }
}

.header p {
  margin-bottom: 20px;
}

.header-list-intro {
  margin-bottom: 0px;
}
