.header {
  text-align: center;
  font-size: 25px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}

.header-title {
  font-weight: 600;
  font-size: 25px;
}

.header a {
  text-decoration: none;
}

.header span {
  border-bottom: solid 2px var(--green);
}

.header p {
  margin-bottom: 15px;
}

.header-list-intro {
  margin-bottom: -50px;
}
