.header {
  text-align: center;
  font-size: 30px;
}

.header-title {
  font-weight: 600;
  font-size: 30px;
}

.header a {
  text-decoration: none;
}

.header span {
  border-bottom: solid 2px var(--green);
}
