/* ====================================
// css variables
// ==================================== */
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url(../fonts/AvenirNextCyr-Regular.woff2);
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  src: url(../fonts/AvenirNextCyr-Medium.woff2);
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url(../fonts/AvenirNextCyr-Demi.woff2);
}

@font-face {
  font-family: "SuperClarendon";
  src: url(../fonts/SuperClarendon.ttc);
}

:root {
  --pink: #ff74d0;
  --green: #4be2b5;
  --bgColor: #f0f1ea;
  --grey: #c9c5bd;
  --black: #444444;
  --scdPink: #fd55c52f;
  --scdGreen: #59e3ba2f;
}

/* ====================================
// reset rules
// ==================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  font-weight: 400;
  color: var(--black);
}

html {
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h2 {
  font-family: "SuperClarendon";
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 40px;
}

ul {
  list-style: none;
}

/* ====================================
// base rules

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}
// ==================================== */
