/* ====================================
// css variables
// ==================================== */

:root {
  --pink: #FF74D0;
  --green: #4BE2B5;
  --bgColor: #F0F1EA;
  --grey: #C9C5BD;
  --black: #444444;
  --scdPink: #fd55c52f;
  --scdGreen: #59e3ba2f;

}

/* ====================================
// reset rules
// ==================================== */

@font-face {
  font-family: "Avenir Next";
  src: url(../fonts/Avenir\ Next.ttc);
}

@font-face {
  font-family: "SuperClarendon";
  src: url(../fonts/SuperClarendon.ttc);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
  font-weight: 500;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

/* ====================================
// base rules
// ==================================== */
