.l-title {
  background-color: var(--bgColor);
}

.l-exercise-creator {
  background-color: var(--bgColor);
  padding-bottom: 150px;
}

.l-dialogs-separator {
  border: 0.5px solid var(--pink);
  margin: -5px 0px 10px 0px;
}
